@font-face{
	font-family: Dosis; src: url("font/Dosis-Bold.ttf");
}

@font-face{
	font-family: Roboto; src: url("font/Roboto-Regular.ttf");
}

@font-face{
	font-family: Consolas; src: url("font/Consolas.ttf");
}
.topbar-div{
	background-color: #53435d;
	border-radius: 10px;
	box-shadow: 1px 1px 10px black;
}

.topbar{
	font-family: Dosis;
	color: white;
}

h1{
	font-family: Dosis;
	color: black;
}

.logotext{
	font-family: Consolas;
	color: #1693d0;
	margin-left: 100px;
}

pre{
	color: #1693d0;
}

h2{
	font-family: Dosis;
	color: #4C4C6D;
}

.para{
	font-family: Roboto;
	color: white;
	font-size: 20px;
}

.intro{
	color: #44475a;
	font-family: Dosis;
}

body{
	background-image: url("../images/bg.jpg");
}

a{
  
  background-color: transparent;
  text-decoration: none;
  color: White;
  font-family: Roboto;
}
a:hover {
  color: White;
  background-color: transparent;
  text-decoration: underline;
}

button{
	font-family: Dosis;
	font-size: 20px;
	transition-duration: 0.4s;
	background: white;
	border-radius: 10px;
	border-style: none;
	width: 400px;
	height: 60px;
	border: 1px solid #1e2029;
}

button:active {
	background: #1e2029;
	border-radius: 10px;
	border-style: none;
}

button:hover {
	color: white;
	background: #4938ab;
	border-radius: 10px;
	border-style: none;
}

input{
	margin: 10px;
	border: none;
	font-size: 20px;
	color:white;
	font-family: Roboto;
	border: 2px solid #44475a;
	background-color: #282a36;
}

label{
	font-family: Dosis;
	color: white;
	font-size: 30px;
}

input:focus {
  outline-width: 0;
  border: 2px solid #4938ab;
}

textarea{
	margin: 10px;
	border: none;
	font-size: 20px;
	color:white;
	font-family: Roboto;
	border: 2px solid #44475a;
	background-color: #282a36;
}

textarea:focus{
	outline-width: 0;
  border: 2px solid #4938ab;
}

hr{
	background-color: #4938ab;
	color: #4938ab;
}

p{
	font-family: Roboto;
	color: #1f1f1f;
}

div{
	background-color: white;
	border-bottom: 2px solid #bd93f9;
}

.done{
	width: 100px;
	height: 100px;
	background-color: white;
	float: left;
}

.nth{
	background-color: white;
}

.bclear{
	font-family: Dosis;
	font-size: 20px;
	transition-duration: 0.4s;
	background: white;
	border-radius: 10px;
	border-style: none;
	width: 400px;
	height: 60px;
}

.bclear:active {
	background: #ff5555;
	border-radius: 10px;
	border-style: none;
}

.bclear:hover {
	color: white;
	background: #ff5555;
	border-radius: 10px;
	border-style: none;
}

.sdiv{
	border-radius: 10px;
	background-color: white;
	box-shadow: 1px 1px 10px black;
	width: 600px;

}