@font-face{
	font-family: Dosis-Bold; src: url("../fonts/Dosis-Bold.ttf");
}

body{
	background-image: url("../img/bg.jpg");
}

h1{
	font-family: Dosis-Bold;
	color: white;
	margin: 5px;
}

h2{
	font-family: Dosis-Bold;
	color: white;
}

button{
	margin-top: 80px;
	font-family: Dosis-Bold;
	font-size: 20px;
	transition-duration: 0.4s;
	background: white;
	border-radius: 10px;
	border-style: none;
	width: 200px;
	height: 60px;
}

button:active {
	background: #1e2029;
	border-radius: 10px;
	border-style: none;
}

button:hover {
	color: white;
	background: #4938ab;
	border-radius: 10px;
	border-style: none;
}

div{
	background: #1e2029;
	border-radius: 10px;
}

p{
	font-family: Arial;
	color: white;
}

a{
	margin: 10px;
}
