
@font-face{
	font-family: Dosis; src: url("Dosis-Bold.ttf");
}

button{
	font-family: Dosis;
	padding: 0;
	margin: 0;
	font-size: 20px;
	transition-duration: 0.4s;
	background: white;
	border-style: none;
	border-radius: 10px;
	width: 100px;
	height: 100px;
	position: relative;
	vertical-align:top;
}

button:active {
	background: #4938ab;
	border-style: none;
	font-size: 20px;
}

button:hover {
	font-size: 20px;
	color: white;
	background: #4938ab;
	border-style: none;
}

table{
	border-style: solid;
	border-radius: 10px;
}

h1{
	color: #4938ab;
	font-family: Dosis;
}